<div class="banner">
    <div class="container">
        <div class="header">
            <h2>Crypto Checker</h2>
            <h6>Check all the crypto currency latest update</h6>
        </div>
        <div class="sub-header">
            <marquee behavior="scroll" onmouseover="stop()" onmouseout="start" loop="infinite" direction="left">
                <div class="row">

                </div>
            </marquee>
        </div>
    </div>
    <div class="container mt-3">
        <!-- TABLE -->
        <table>

        </table>
    </div>
</div>